.img{
    padding-right: 20px;
}
.summary{
    font-size: 15px;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-left:50px ;
}
.score{
    text-align: center;
}
.summary,.score{
    border-bottom: 1px solid black;
}

th{
    border: none;
    border-bottom: 1px solid navy;
    color: yellow;
    border-collapse: collapse;
    background-color: purple;
}

table,th,tr,td{
 
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
  
}
td,th{
    padding: 9px;
}
table{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

tr:nth-child(even) {background-color: #f2f2f2;
}
.table1,.table2{
    margin-left: auto;
    margin-right: auto;
}
.smcc{
    text-align: center;
    color: purple;
    font-size: x-large;
    margin-bottom: 0;
}


.logo{
    width: 70px;
}
.socotec{
    width: 100px;
}
.smcc-header{
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}
.smcc-address-tel{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.footer{
    width: 90%;
    height: 40px;
   
}
footer{
    text-align: center;
}